<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>810055477582-1vcra08crgqbi3hvkf26rdotmts1bjjp.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.810055477582-1vcra08crgqbi3hvkf26rdotmts1bjjp</string>
	<key>API_KEY</key>
	<string>AIzaSyByXX8pXcfqrkFBbdTKOSa5Tf0CuXj9zCU</string>
	<key>GCM_SENDER_ID</key>
	<string>810055477582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitramy.Educatech</string>
	<key>PROJECT_ID</key>
	<string>educatech-ecab0</string>
	<key>STORAGE_BUCKET</key>
	<string>educatech-ecab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810055477582:ios:580b62ac827ddf59fa161f</string>
</dict>
</plist>
